*{margin: 0; padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{margin: 0; padding: 0; font-family: "微软雅黑",Arial;}
input::-webkit-input-placeholder {/* WebKit browsers*/color: #999;font-size: 12px;opacity: 0.5;}
input:-moz-placeholder {/* Mozilla Firefox 4 to 18*/color: #999;font-size: 12px;opacity: 0.5;}
input::-moz-placeholder {/* Mozilla Firefox 19+*/color: #999;font-size: 12px;opacity: 0.5;}
input:-ms-input-placeholder {/* Internet Explorer 10+*/color: #999;font-size: 12px;opacity: 0.5;}
.background{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}
.wrap{
	width: 100%;
	margin: 0;
	padding: 0;
}
.nav{
	width: 100%;
	height: 180px;
}
.nav .nav-header{
	width: 1200px;
	height: 135px;
	margin: 0 auto;
	padding: 25px 10px;
}
.nav .nav-header .nav-logo,
.nav .nav-header .nav-search{
	width: 50%;
	float: left;
}
.nav .nav-header .nav-search{
	text-align: right;
	height: 94px;
    line-height: 94px;
}
.nav .nav-header:after{
	content: "";
	display: table;
	clear: both;
}
.nav .nav-header .nav-search input{
	width: 350px;
	height: 40px;
	padding: 5px 33px 5px 10px;
	border: 1px solid #d2d2d2;
	font-size: 12px;
	color: #666;
}
.nav .nav-header .nav-search .icon-position{
	position: relative;
	right: 30px;
	color: #999;
	font-weight: bolder;
}
.nav .nav-list{
	width: 100%;
	height: 44px;
	background: #0056a9;
}
.nav .nav-list ul{
	list-style: none;
	width: 1200px;
	height: 45px;
	margin: 0 auto;
	background: #0056a9;
	text-align: center;
}
.nav .nav-list ul .active{
	background: #1c76cc;
}
.nav .nav-list ul li{
	display: inline-block;
	/*float: left;*/
}
/*.nav .nav-list ul:after{
	content: "";
	display: table;
	clear: both;
}*/
.nav .nav-list ul li a{
	width: 100%;
	padding: 0 45px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: none;
}
.nav .nav-list ul li a:hover{
	background: #1c76cc;
}

.footer{
	width: 100%;
	min-width: 1200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	background: #0056a9;
	color: #d5d0d0;
}