/*--------content---------*/
.content{
	width: 1200px;
	background: #fff;
	margin: 0 auto;
	padding: 10px 50px 0 50px;
}
.content .content-top{
	padding: 10px 0;
	text-align: right;
}
.content .content-top i{
	color: #0056a9;
	vertical-align: middle;
}
.content .content-top span{
	font-size: 12px;
	color: #666;
}
.content .content-main{
	padding-top: 20px;
}
.content .content-main .content-main-title{
	padding: 20px 0 0 0;
}
.content .content-main .content-main-title img{
	vertical-align: middle;
}
.content .content-main .content-main-title span{
	font-size: 14px;
	font-weight: bold;
	color: #0056a9;
}
.content .content-main .content-main-left{
	width: 815px;
	float: left;
	height: 400px;
}
.content .content-main .content-main-right{
	width: 285px;
	float: right;
	background: #e5eef6;
	height: 400px;
}
.content .content-main:after{
	content: "";
	display: table;
	clear: both;
} 
.content .content-main .content-main-left .content-main-left-title{
	font-size: 14px;
	font-weight: bold;
	color: #0056a9;
	padding: 0 0 20px 0;
}
.content .content-main .content-main-left ul{
	list-style: none;
	font-size: 12px;
	color: #333;
}
.content .content-main .content-main-left ul li{
	padding: 5px 0;
}
.content .content-main .content-main-left .content-main-left-abstract{
	padding: 20px 0;
	font-size: 12px;
	color: #333;
}
.content .content-main .content-main-left .content-main-left-abstract p{
	font-weight: bold;
	padding-bottom: 5px;
}
.content .content-main .content-main-left .content-main-left-link{
	padding-top: 15px;
}
.content .content-main .content-main-left .content-main-left-link a{
	font-size: 12px;
	color: #0056a9;
	font-weight: bold;
}
.content .content-main .content-main-right ul{
	padding: 60px 20px;
	list-style: none;
	font-size: 12px;
	color: #333;
}
.content .content-main .content-main-right ul li{
	padding: 5px 0px;
}